@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: green;
    --cor-secundaria: #500073;
    --cor-terciaria: #000000 ;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*

{
    margin: 0%;
    padding: 0%;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-terciaria);
    color:aqua;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: aqua;
    text-decoration: none;
}

.apresentacao_conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao_conteudo_titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
}

.apresentacao_conteudo_subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao_conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao_conteudo_links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_link_navegacao {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal)
}

.apresentacao_link_navegacao1 {
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-principal)
}

.apresentacao_link:hover {
    background-color: blue;
}

.apresentacao_link1:hover {
    background-color: blue;
}

.apresentacao_img {
    width: 50%;
}

.titulo-destaque {
    color: red;
}

.repositorio_img {
    width: 35%;
}

.repositorio_img1 {
    width: 35%;
}

.rodape {
    padding: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--cor-terciaria);
    background-color:var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .apresentacao_conteudo {
        width: auto;

    }

}